
body {
	margin: 0;
}

/* Bordure autour de chaque bloc. */
.page-header, .page-footer,
.content, .menu, .info {
	border: 1px solid black;
    overflow :auto
}

/* Les couleurs des zones. */
.page-header { background: tomato; }
.page-footer { background: orchid; }

.menu {
	background: yellowgreen;
    float: left;
    width: 160px;
}

.info {
    background: skyblue;
    float: right;
    width: 300px;
}

.content {
    background: orange;
    margin-left: 160px;
    margin-right: 300px;
}

.wrapper {
    border : 10px solid saddlebrown;
}