body {
	max-width: 1000px;
	margin: auto;
	font-family: Arial, sans-serif;
}

ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

.banniere {
	overflow: auto;
}

.logo {
	float: left;
	margin: 20px;
}

/*
 Menu
 */
.menu {
	width: 50%;
	float: right;
	height: 100%;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu li {
	float:left;
	padding: 20px;
	width: 25.334%;
	text-align: center;
	height: 23px;
 }
.menu li:first-child {
	background-color: #F9F9F9;
}
.menu li:nth-child(2) {
	background-color: #F4F4F4;
}
.menu li:nth-child(3) {
	background-color: #EDEDED;
}

/*
 Produit
 */
.produits {
	color: white;
}
.produits li {
	float:left;
	width: 50%;
}
.produits li:first-child {
	background-color: #DBEAD8;
}
.produits li:nth-child(2) {
	background-color: #C2D4D8;
}
.produits li:nth-child(3) {
	background-color: #B0ABC3;
}
.produits li:nth-child(4) {
	background-color: #DBEAD8;
}
.produits li:nth-child(5) {
	background-color: #C2D4D8;
}
.produits li:nth-child(6) {
	background-color: #B0ABC3;
}
.produits li h2 {
	margin-left : 50px;
}

.pied {
	//overflow: auto;
}
.infos {
	float: left;
	margin: 20px;
	padding-left: 50px;
}
.infos li {
	float:left;
	padding: 10px;
}
.infos a{
	text-decoration: none;
	color: black;
}
.paiement {
	width: 50%;
	float: right;
	height: 100%;
	padding: 10px;
}
.paiement h3 {
	margin:0;
	float:left;
	font-size: small;
	font-style: normal;
}
.paiement ul {
	list-style-type: reversed;
}
.paiement li {
	font-size: small;
	float:right;
	margin: 3px;
	color: white;
	background-color: black;
	border-radius: 5px;
}